@import "tailwindcss";


:root {
    --bg-color: #ffffff;
    --text-color: #000000;
}

@theme{
    --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
    --ease-snappy: cubic-bezier(0.2, 0, 0, 1);

}

*{
    margin: 0;
    padding: 0;
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #121212;
        --text-color: #ffffff;
    }
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}




